<!DOCTYPE html>
<html>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <title>NBA Database Project - Index</title>

  <body>
  <h1><strong>NBA Database Project</strong></h1>

    <h1>Manage and View</h1>

    {% if isDBA %}
    <div>
      <span style="float:right">Signed in as Database Administrator.</span><br>
      <span style="float:right"><a href="signout">Sign Out</a></span><br/>
    </div>
    {% endif %}

    <a href="coach">Coaches</a><br>
    <a href="court">Courts</a><br>
    <a href="game">Games</a><br>
    <a href="player">Players</a><br>
    <a href="plays_in">Player Game Performance</a><br>
    <a href="referee">Referees</a><br>
    <a href="team">Teams</a><br>

    <br>
    <a href="top-scoring-players">List of Top-Scoring Players in a Game</a><br>

    {% if isDBA %}
    <br>
        <div class="container-fluid" style="border:2px solid #4259f4">
      <h3 style="color:#4259f4"><strong>DBA Management</strong></h3>
      <h4 style="color:#4259f4"> DBA-access only </h4>
    <br>
    <a href="dba">Database Administrators</a>
    </div>
    {% endif %}

  </body>

</html>
