<html>

  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <body>

    <h1>Manage and View</h1>

    {% if isDBA %}
    <div>
      <span style="float:right"><a href="signin">Sign Out</a></span><br/>
    </div>
    {% endif %}

    <a href="coach">Coaches</a><br>
    <a href="court">Courts</a><br>
    <a href="game">Games</a><br>
    <a href="player">Players</a><br>
    <a href="plays_in">Player Game Performance</a><br>
    <a href="referee">Referees</a><br>
    <a href="team">Teams</a><br>

    {% if isDBA %}
    <a href="dba.html">Database Administrators</a>
    {% endif %}

  </body>

</html>
