<html>

  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <body>
    <h1>Teams</h1>

    {% if isDBA %}
    <div>
      <span style="float:right"><a href="signin.html">Sign Out</a></span><br/>
    </div>
    {% endif %}

    {% if isDBA %}
    <form method="POST" action="/add">
        <p>

          team_id: <input type="text" name="team_id" maxlength="5"> <br>
          name: <input type="text" name="name" maxlength="80"> <br>
          city: <input type="text" name="city" maxlength="80"> <br>
          coach_id: <input type="text" name="coach_id" maxlength="5"> <br>
          court_id: <input type="text" name="court_id" maxlength="5"> <br>
          wins: <input type="number" name="wins"> <br>
          losses: <input type="number" name="losses"> <br>

        <input type="submit" value="Add"></p>
    </form>
    {% endif %}

    <br>
    <div>
      {{ table|safe }}
    </div>

  </body>

</html>
