<!DOCTYPE html>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>

    <title>NBA Database Project - Total Statistics over Player Career</title>

  <body>
  <div class=container>
  <h1><strong>NBA Database Project</strong></h1>

    <h1>Total Statistics over Player Career</h1>

    {% if isDBA %}
    <div>
      <span style="float:right">Signed in as Database Administrator.</span><br>
      <span style="float:right"><a href="signout">Sign Out</a></span><br/>
    </div>
    {% endif %}

    <div>
      {% for n in data %}
      <div>{{n}}</div>
      {% endfor %}
    </div>

    </div>
  </body>

</html>
